.speakers{
    padding-top: 1em;
    //overlaping
    padding-bottom: 5rem;

    h1{
        display: inline-block;
        margin: 12px 10px 10px;
        padding-left: 1em;
    }

    #checkbox{
        @include dimension(60px,60px);
        -webkit-appearance: none;
        -moz-appearance: none;
        box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
                      10px 5px 15px rgba(70,70,70,0.12);
        border-radius: 50%;
        border: 3px solid #ececec;
        outline: none;
        margin-bottom: 20px;
        cursor: pointer;
        
        &::after{
            content: '\f028';
            font-family: fontAwesome;
            font-size: 1.4rem;
            color: #7a7a7a;
        }
        // center the icon
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:checked{ 
            box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
                        10px 5px 15px rgba(70,70,70,0.12),
                inset -10px -10px 15px rgba(255,255,255,0.5),
                inset 10px 10px 15px rgba(70,70,70,0.12);
        }
        &:checked::after{
            color: $orange-clr; 
        }
    }
}

// active toggle class products
.products{display: none;}
.products.active{display: block ;}


.products_wrapper{
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
    gap: 1.2rem;

    .card{
        text-align: center;
        cursor: pointer;

        img{
            transform: scale(.8);
        }

        &:hover{
            box-shadow: $shadow;
        }
        .title, .price{
            margin-bottom: 8px;
        }
    }

}