@import "./partials/configSetup";

body{
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

.setPadd{padding: 2em;}

@import "./partials/_header";
@import './partials/showcase';
@import './partials/speakers';
@import './partials/newsletter';
@import './partials/video';
@import './partials/footer';
@import './partials/media';
