@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.setPadd {
  padding: 2em;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 0.5em 2em;
  position: relative;
}
header .logo img {
  width: 3em;
}

.nav {
  position: absolute;
  top: 10vh;
  z-index: 1;
  background-color: #18191f;
  width: 100%;
  height: 90vh;
  right: -100%;
  opacity: 0;
  transition: 0.3s linear;
}
.nav.active {
  right: 0;
  opacity: 1;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}
.nav ul li {
  list-style: none;
  margin: 0 1em;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate(80px);
  transition: 0.3s linear;
}
.nav ul li a {
  color: #eeeeee;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  font-weight: 600;
}
.nav ul li a:hover {
  background-color: #313732;
}
@-webkit-keyframes showLi {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes showLi {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.burger {
  position: absolute;
  top: 2.8vh;
  right: 8vw;
  cursor: pointer;
}
.burger div {
  width: 24px;
  height: 3px;
  background-color: #313732;
  margin: 5px;
  transition: 0.3s linear;
}
.burger:hover div {
  background-color: #F26101;
}
.burger.active .l1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.burger.active .l2 {
  opacity: 0;
}
.burger.active .l3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.showcase_left {
  text-align: center;
  transform: translateX(-300px);
  opacity: 0;
  -webkit-animation: moveRight 0.6s forwards ease-in;
          animation: moveRight 0.6s forwards ease-in;
}
@-webkit-keyframes moveRight {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveRight {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.showcase_left h1 {
  font-size: 2.1rem;
}
.showcase_left p {
  font-size: 1rem;
  margin-top: 0.8rem;
  color: #313732;
}
.showcase_left a.ctaBtn {
  display: inline-block;
  margin: 15px 0;
  padding: 10px;
  font-size: 0.8rem;
  text-decoration: none;
  color: #F26101;
  border: 1px solid #F26101;
  border-radius: 10px 20px 20px 0;
  cursor: pointer;
  transition: 0.3s linear;
}
.showcase_left a.ctaBtn:hover {
  color: #fff;
  background-color: #F26101;
}
.showcase_right {
  height: 47vh;
  display: flex;
  justify-content: center;
}
.showcase_right img {
  height: 100%;
  opacity: 0;
  transform: translateX(300px);
  -webkit-animation: moveLeft 0.6s forwards ease-in;
          animation: moveLeft 0.6s forwards ease-in;
}
.showcase_right img:nth-child(2) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}
.showcase_right img:last-child {
  display: none;
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}
@-webkit-keyframes moveLeft {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveLeft {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.speakers h1 {
  display: inline-block;
  margin: 12px 10px 10px;
}
.speakers #checkbox {
  width: 60px;
  height: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 5px 15px rgba(70, 70, 70, 0.12);
  border-radius: 50%;
  border: 3px solid #ececec;
  outline: none;
  margin-bottom: 20px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.speakers #checkbox::after {
  content: "\f028";
  font-family: fontAwesome;
  font-size: 1.4rem;
  color: #7a7a7a;
}
.speakers #checkbox:checked {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 5px 15px rgba(70, 70, 70, 0.12), inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
.speakers #checkbox:checked::after {
  color: #F26101;
}

.products {
  display: none;
}

.products.active {
  display: block;
}

.products_wrapper {
  display: grid;
  grid-template-columns: 400px;
  justify-content: center;
  gap: 1.2rem;
}
.products_wrapper .card {
  text-align: center;
  cursor: pointer;
}
.products_wrapper .card img {
  transform: scale(0.8);
}
.products_wrapper .card:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.products_wrapper .card .title, .products_wrapper .card .price {
  margin-bottom: 8px;
}

.newsletter {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.newsletter h2 {
  margin: 1rem;
  font-size: 1.2rem;
}
.newsletter #email {
  width: 200px;
  height: 2rem;
  margin-right: 0;
  border-radius: 10px 0 0 10px;
  border: 1px solid #7a7a7a;
  border-right: 0;
  outline: none;
  padding: 1.25em 0.9em;
}
.newsletter #submit {
  margin-left: -6px;
  padding: 0.75em 0.9em;
  border: none;
  border-radius: 0 10px 10px 0;
  outline: none;
  color: #fff;
  background-color: #F26101;
  cursor: pointer;
}

.video {
  background-color: #8AA8B0;
  color: #fff;
}
.video h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 400;
}
.video_perks {
  display: none;
}
.video_wrapper {
  height: 50vh;
}
.video_wrapper iframe {
  width: 100%;
  height: 100%;
}

.social {
  background-color: #313732;
  color: #fff;
}
.social_links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.social_links h3 {
  font-weight: 500;
}
.social_links ul {
  display: flex;
  flex-wrap: wrap;
}
.social_links ul li {
  list-style: none;
  margin: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.social_links ul li i {
  font-size: 2em;
  display: inline-block;
  margin-right: 0.5rem;
}
.social p {
  text-align: center;
  font-weight: 500;
  margin-top: 1.6rem;
}

@media (min-width: 576px) {
  .setPadding {
    padding: 2.3em;
  }
  .showcase_right img:last-child {
    display: block;
  }
  .products_wrapper {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}
@media (min-width: 768px) {
  header {
    justify-content: space-between;
  }
  .nav {
    position: static;
    opacity: 1;
    width: auto;
    height: auto;
    background-color: transparent;
  }
  .nav ul {
    flex-direction: row;
  }
  .nav ul li {
    opacity: 1;
    transform: translateX(0px);
  }
  .nav ul li a {
    font-size: 1em;
    color: #18191f;
  }
  .nav ul li a:hover {
    background-color: transparent;
    color: #F26101;
  }
  .burger {
    display: none;
  }
  .showcase {
    flex-direction: row;
    justify-content: space-around;
  }
  .showcase_left {
    text-align: left;
  }
  .showcase h1, .showcase p, .showcase a.ctaBtn {
    margin-left: 5%;
  }
  .showcase p {
    width: 80%;
  }
  .newsletter {
    flex-direction: row;
  }
  .newsletter h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  .newsletter #email {
    width: 200px;
    height: 2.5rem;
  }
  .newsletter #submit {
    height: 2.5rem;
    width: auto;
  }
  .video_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .video_perks {
    display: block;
  }
  .video_perks li {
    list-style: none;
    margin: 1rem 0;
  }
  .video_perks li i {
    margin-right: 5px;
  }
  .video_wrapper iframe {
    width: 50vw;
  }
}/*# sourceMappingURL=style.css.map */